@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body {
  margin: 0px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.project_body b {
  font-family: Inter, sans-serif;
  font-style: medium;
  font-weight: 600;
}

.project_body p {
  margin: 16px;
}

#header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 2%;
}

#name {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: -0.03em;
  color: #F4F4F4;
  margin-top: 4%;
}


.title-white {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 68px;
  letter-spacing: -4px;
  color: #F4F4F4;
}

.top {
  height: 100vh;
  width: 100%;
  background-color: black;
  position: relative;
  display: flex;
}


.welcome {
  z-index: 100;
  max-width: 860px;
  padding-left: 10%;
  margin-top: 10%;
  margin-bottom: 8%;
}

.link-top::before {
  content: '';
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #F4F4F4;
  transform-origin: bottom left;
  transform: scaleX(1);
  transition: transform 0.3s ease-in-out;
}

.link-top {
  color: #F4F4F4;
  position: relative;
  text-decoration: none;
}

.link-top:hover::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}


#social {
font-family: Inter, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 24px;
letter-spacing: -0.03em;
word-spacing: 24px;
margin-top: 4%;

}


.link-social {
  color: #F4F4F4;
  text-decoration: none;
  letter-spacing: -0.03em;
  transition: 0.5s ease;
}

.link-social:hover {
  cursor: pointer;
  opacity: 0.5;
}

.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

#bg {
  background-image: "";
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


#work {
  padding-left: 10%;
  align-self: center;
  z-index: 200;
}

.empty {
  align-self: center;
  margin-right: 30%;
  z-index: -200;
}

.menu__projects {
  font-family: Inter, sans-serif;
  font-size: 32px;
  font-style: medium;
  font-weight: 300;
  letter-spacing: -0.06em;
}

.menu__projects .menu__item {
  margin: 0.5em 0;
  text-decoration: none;
  display: block;
}

.menu__projects .menu__item-name {
  color: black;
  opacity: 0.2;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.menu__projects .menu__item:hover .menu__item-name {
  cursor: pointer;
  opacity: 1;
  color: #0C0C0C;
}

@keyframes fadeIn{
  0% {
    opacity:0;
    transform: translate3d(0,0,0);
  }
  100% {
    opacity:1;
    transform: translate3d(0,0,0);
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
    transform: translate3d(0,0,0);
  }
  100% {
    opacity:1;
    transform: translate3d(0,0,0);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
    transform: translate3d(0,0,0);
  }
  100% {
    opacity:1;
    transform: translate3d(0,0,0);
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
    transform: translate3d(0,0,0);
  }
  100% {
    opacity:1;
    transform: translate3d(0,0,0);
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
    transform: translate3d(0,0,0);
  }
  100% {
    opacity:1;
    transform: translate3d(0,0,0);
  }
}

/* ************************ Case Study Page ************************ */

#project_top {
  display: flex;
  justify-content: space-around;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 20%;
}

.project_title {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 68px;
  line-height: 80px;
  letter-spacing: -4px;
  color: black;
  max-width: 525px;
  margin-right: 8%;
}

.project_detail {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.03em;
  color: black;
}

.project_featured {
  margin-bottom: 14%;
}

#featured_onni {
  display: block;
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.project_body {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 14%;
  max-width: 516px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.03em;
  color: black;
}

.project_images {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 14%;
  width: 90%;
  height: auto;

}

#ProjectHeader {
  display: flex;
  justify-content: space-between;
  padding-left: 4%;
  padding-right: 4%;
}

#ProjectFooter {
  display: flex;
  justify-content: space-between;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 4%;
}

.project_header_name {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: -0.03em;
  color: black;
  margin-top: 4%;
  text-decoration: none;
}

.project_header_social {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: -0.03em;
  word-spacing: 24px;
  margin-top: 4%;
  color: black;
}

.project_header_social_link {
  color: black;
  text-decoration: none;
  letter-spacing: -0.03em;
  transition: 0.5s ease;
}

.project_header_social_link:hover {
  cursor: pointer;
  opacity: 0.5;
}


#project_team {
  display: flex;
  justify-content: space-around;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 6%;
}


@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 100;
  src: url('fonts/Inter-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Inter';
  font-style:  medium;
  font-weight: 500;
  src: url('fonts/Inter-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Inter';
  font-style:  bold;
  font-weight: 600;
  src: url('fonts/Inter-Bold.otf') format('opentype');
}

@media (max-width: 600px) {
  .title-white {
    font-size: 33px;
    line-height: 43px;
  }

  .project_title {
    font-size: 33px;
    line-height: 51px;
    margin-bottom: 4%;
  }

  #project_top {
    flex-direction: column;
    margin-left: 24px;
  }

  .welcome {
    padding-left: 6%;
  }

  .project_body {
    margin-left: 4%;
  }

  .menu__projects .menu__item-name {
    opacity: 1;
  }
}
